.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(80, 35, 20);
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.card img {
  padding-top: 30px;
  max-height: 400px;
}

.cardElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h3 {
  padding-bottom: 10px;
}

.card button {
  cursor: pointer;
  background-color: var(--themecolor);
  border: 3px solid rgb(80, 35, 20);
  padding: 0.2rem 1rem;
  border-radius: 25px;
  font-size: large;
  color: rgb(80, 35, 20);
}
.card button:hover,
.card button:active {
  --themecolor: rgb(116, 62, 51);
  color: rgb(245, 235, 220);
}
